<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons">search</i>
        <input type="text" id="autocomplete-input" class="autocomplete">
      </div>
    </div>
  </div>
</div>
<div style="text-align: center;" class='hide no-article'>
  <span>No Article Found</span>
</div>
