<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Article</a></li>
      <li><a href="<%= search_queries_path %>">Analytics</a></li>
    </ul>
  </div>
</nav>

